<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>view html video</title>
    <!-- <link rel="stylesheet" href="./css//header.css"> -->
    <style>
    video{
      width: 100%;
      height: 500px;
      object-fit: scale-down;
      background-color: black;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="nav-pills flex-column flex-sm-row justify-content-start row mt-3 mb-3" id="menu-list">
        </nav>
      </header>
      <h3>view page</h3>
      <div class="video-box row">
        <div class="col col-6">
          <video
            autoplay
            muted
            src=""
            style="border: 1px solid"
            id="local"
          ></video>
        </div>
        <div class="col col-6">
          <video
            autoplay
            muted
            src=""
            style="border: 1px solid"
            id="remote"
          ></video>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-success" id="start">Start</button>
        <button class="btn btn-primary" id="call">Call</button>
        <button class="btn btn-danger" id="hang">Hang</button>
      </div>
    </div>
  </body>
</html>
